# Dependencies
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Tests
coverage/
.nyc_output/

# Build
*.tsbuildinfo
